body {
    font-family: 'Nexa light', sans-serif;
    margin: 0;
}
/*-  The box-sizing CSS property is used to alter the default CSS box model used to calculate widths and heights of elements. It is possible to use this property to emulate the behavior of browsers that do not correctly support the CSS box model specification. met borderbox wordt de H+W meegerekend maar niet de border, margin en padding. maakt het element kleiner-*/
*{
    box-sizing: border-box;
}

/* -----------Header----------- */

body  > header {
    background-color: #00d767;
    margin-top: -1.5em;
    box-shadow: 1em;

}


/* -----------zoeken----------- */

.zoeken {

    padding: 0.5em;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    background-color: #b3b3b3;
}

.zoeken input{
    text-decoration: none;
    width: 40em;
}

/* -----------sorteren----------- */

.sorteren{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    border: none;

}

fieldset {
    border-style: none;
}

/* -----------NAV----------- */

nav ul{

    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    font-size: 1.5em;


}

nav li {
    font-size: 1em;
    margin-top: 0.6em;
}

nav li a {
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-family:'Nexa bold', sans-serif;

}

nav a:hover {
    text-decoration: underline;
}


/*-------------- main ---------------*/

main {
    padding: 1em;
    display: block;

}

.verhalen{
    background: #f3e5d8;

}

/*-------------- aside ---------------*/

aside{
    align-self: flex-start;
    margin-left: 1em  ;
    min-width: 15em;

}

aside > form fieldset label{
    display: block;
    margin-bottom: 0.2em;
    font-size: 1em;
    float: left;
    width: 60%;

}

aside > form {
    padding: 0.5em;
}

aside > form > fieldset{
    margin-top: 2em;
}

aside > h2{
    font-family:'Nexa bold', sans-serif;
    color: #00d767;
}

/* -----------article----------- */

article {
    padding: 0.5em;
    color: #102b42;
    max-width: 25em;
    margin-top: 0.5em;
    box-sizing: border-box;
    background: white;
    margin-left: 0.5em;


}

.wrapper{
    display: flex;
    flex-wrap: nowrap;

}

/* -----------media----------- */

/*@media screen and (min-width: 32.5em) {
   .verhalen {
        display: flex;
       flex-wrap: wrap;
    }

}
*/

@media screen and (max-width: 50em) {
    article {
    }
}

@media screen and (min-width: 52.5em) {
    .uitgelicht {

    }
}

@media screen and (max-width: 45em) {
    .uitgelicht {
    display: none;
    }

    article {
        width: 100%;
    }
}

@media screen and (min-width: 32.5em) {
   .verhalen {
        display: flex;
       flex-wrap: wrap;
    }

    article {
        margin-right: 1em;
    }

}





